@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif; 
}

#divPrincipalInputAmount{
    width: 46%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.divPrincipalTitulo {
    font-size: 4vw;
    font-weight: 400;
}

#divDescricao{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    gap: 3%;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

#divInput{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 100%;
    border: 2.5px solid #DBD7CE;  
    border-radius: 50px;
    margin-top: 1%;
    overflow: hidden;
}

#divInput h3 {
    font-weight: 400;
}

#iconInfo{
    width: 5vw;
    height: 5vw;
}

.sinais{
    color: #E28E00;
}