@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
}

#divButtonRoom{
    margin-bottom: 1.5rem;
}

#divLightMatch{

    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;

    gap: 1rem;
    
}

form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#divSizeAndAmount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.infoComodo{
    color: #AA9F8D;
    position: relative;
    right: 19%;
    margin-bottom: 0.8rem;
}

#divbotao{
    width: 100%;
    position: relative;
    left: 30%;
}