#container-main-page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem;
    width: 100%;
    max-width: 100%;
    height: 10vh;
    min-height: 5rem;
}

#main-page-header-image {
    height: 7.5vh;
    min-height: 3.8rem;
}