.glossary-card-container {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-size: 'cover';
    background-position: 'center';
    overflow: hidden;
}

.glossary-card {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.glossary-card-text-container {
    display: flex;
    width: 85%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.glossary-dropdown-container {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.glossary-dropdown {
    border: 1px solid gray;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.glossary-dropdown.open {
    transform: rotate(180deg);
}

.dropdown-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.dropdown-text-container {
    width: 80%;
}

.dropdown-text {
    opacity: 0.2;
    transition: 0.5s ease, opacity 0.5s ease;
}

.dropdown-text.open {
    opacity: 1;
}

.dropdown-image-container {
    width: 20%;
}

.glossary-page-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.glossary-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#glossary-card-bottom-text {
    color: #E28E00;
}