@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
}

.root-lightmatch {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-light-match {
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#divButtonRoom{
    margin-bottom: 1.5rem;
    width: 100%;
}

#divLightMatch{
    height: auto;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 3vh;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divSizeAndAmount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infoComodo{
    color: #AA9F8D;
    margin-bottom: 1.5rem;
}

#divbotao{
    width: 100%;
    position: relative;
    left: 30%;
    margin-top: 1rem;
}