@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.faq-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    font-family: "Inter", sans-serif;
    background-color: #f9f9f9;
  }
  
  .faq-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .faq-header .back-button {
    width: 32px;
    cursor: pointer;
    caret-color: transparent;
  }

  .faq-header-title {
    font-size: 24px;
    font-weight: 500;
  }
  
  .back-button-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%; 
    border: 1px solid #E28E00;
    margin-right: 24px;
  }
  
  .faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    line-height: 150%
  }

.faq-question {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 0 8px;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
}

.expand-icon{
  caret-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  border: 2px solid #DBD7CE;
  background-color: transparent;
  cursor: pointer;
}

.expand-icon img {
    width: 24px; 
    height: 24px; 
    transition: transform 0.6s ease; 
}
.rotated {
    transform: rotate(45deg);
}

.content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease-in-out;
}

.content.expanded {
  opacity: 1;
  max-height: 100%;
  font-size: 16px;
  color: #756559;
  transition: opacity 0.4s ease, max-height 0.4s ease-in-out;
}
  
.faq-item:last-child {
    border-bottom: none;
  }
  
.faq-item-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-item-title .expand-icon {
  font-size: 24px;
  color: #999;
  }
  
.bottom-icons {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 10px 0;
}

.bottom-icons .icon {
  font-size: 24px;
  color: #666;
  cursor: pointer;
}
  
  .bottom-icons .icon.active {
    color: #f9a825;
  }
  