@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.card-component {
    font-family: 'Inter', sans-serif;
  }
  
  .card-component img {
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-component h2 {
    font-size: 1.5rem;
  }
  
  .card-component p {
    font-size: 1rem;
  }
