.select-container {
  position: relative;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 3.8% 5%;
  font-size: 1rem;
  border: 2px solid #DBD7CE;
  border-radius:99px;
  color: #2A2420;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;

  justify-content: center;
  align-items: center;
}

.select-label {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color:#2A2420;
  margin-bottom: 0.8rem;
}

.custom-select option {
    background-color: white;
    color: #2A2420;
    display: flex;
  }

#setaSelect{
  position: absolute;
  top: 57%;
  right: 6%;
}