.glossary-container {
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glossary-page {
    width: 90%;
}