.static-button {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}