.main-page-container {
    height: 60rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.top-landing-container, .bottom-landing-container {
    width: 100%;
}

.card-container {
    width: 100%;
    height: 10rem;
    border-radius: 2rem;
    border: 0.05rem solid #d3d3d3;
    margin-top: 2rem;
}

.card {
    width: 100%;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
}

.button-container {
    width: '80%';
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 1.8rem;
}

.card-text {
    font-size: 1.35rem;
    font-weight: 600;
}

.board-box {
    margin-top: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#top-boards {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#bottom-board {
    margin-top: 2.5rem;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

#top-button-container {
    width: 100%;
    margin-top: 0.3rem;
}

#top-landing-button {
    margin-left: 0;
}

#bottom-landing-text {
    font-size: 1.5rem;
    font-weight: 550;
}

#lamp-card-buttons-container {
    width: 95%;
    height: 2.5rem;
    margin-top: -0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: -0.5rem;
}

#bottom_logos {
    margin-top: 3rem;
    width: 100%;
}

#home-nav {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    height: 4.32rem;
    border-radius: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}

.home-nav-button {
    height: 90%;
    margin-top: 0.15rem;
}

.cardButtonImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EEEEEE;
    width: 2.8rem;
    border-radius: 5rem;
    height: 2.8rem;
}